*.iml
.DS_Store
local.properties
.gradle/
.idea/
build/

# Resources used by Capillary demo.
/demo/android/google-services.json
/demo/android/src/main/res/raw/sender_verification_key.dat
/demo/android/src/main/res/raw/tls.crt
/demo/resources/ecdsa/sender_signing_key.dat
/demo/resources/firebase/service-account.json
/demo/resources/sqlite/demo.db
/demo/resources/tls/tls.crt
/demo/resources/tls/tls.key

